<% if @error_message %>
  <span class="error"><%= @error_message %></span>
<% end %>

<div>
  <form method='POST' action='/stories'>

    <div class="corner">
        <label>Name your corner
        <input type="text" name="corner" cols="200" >
    </label>
    </div>


    <label>Tell us where it is
        <input type="text" name="location" size="50">
    </label>

    <label>Add Picture
        <input type="url" name="picture" size="50">
    </label>

    <div class="description">
      <label class="corner">What can be said about this place?
      </label>
        <textarea name="description" cols="50" rows="8"></textarea>
    </div>


    <label class="link">Links
    </label>
        <input type="url" name="links">

    <input type="submit"/>
  </form>
</div>
