
<div>
  <form method='POST' action='/stories'>

  <label>Name your corner
      <input name="text" >
  </label>

  <label>Tell us where it is
      <input type="url" name="location" size="50">
  </label>

  <label>Add Picture
      <input type="url" name="picture" size="50">
  </label>

  <label>What can be said about this place?
      <textarea name="description" cols="50" rows="8"></textarea>
  </label>

  <label>
      <input type="url" name="links">
  </label>



  </form>
</div>
