<% if @error_message %>
  <span class="error"><%= @error_message %></span>
<% end %>


<body>
    <div class="form">
      <form method='POST' action='/stories'>


        <div class="corner">
            <div><label>Name your corner</label></div>
                <input type="text" name="corner" size="70" >
            </div>
        </div>

        <div class="location">
            <div><label>Tell us where it is</label></div>
                <input type="text" name="location" size="70">

        </div>

        <div class="picture">
            <div><label>Add Picture</label></div>
                <input type="url" name="picture" size="70">

        </div>

        <div class="info">
              <div><label>What can we learn about this place?</label></div>
              <textarea name="description" cols="70" rows="8"></textarea>
        </div>

        <div>
            <label class="link">Links
            </label>
                <input type="url" name="links" size="70">
        </div>

        <input type="submit"/>
      </form>
    </div>
</body>
